/.gitattributes text eol=lf
*.sh text eol=lf
docker/Dockerfile.omnivoice text eol=lf
docker/omnivoice-server.LICENSE text eol=lf
docker/omnivoice_source.sha256 text eol=lf
docker/omnivoice_model.sha256 text eol=lf
docker/omnivoice_evelyn.patch text eol=lf -whitespace
docker/run_omnivoice.sh text eol=lf
